# PORT for local 
PORT=5500

# NODE_ENV: "development" or "production"
NODE_ENV=development

# FRONTEND URL
# Local : http://localhost:5173
# Prod  : https://your-frontend.com
FRONTEND_URL=http://localhost:5173

# API URL
# Local : http://localhost:5500
# Prod  : https://your-api.com
BASE_URL=http://localhost:5500

# MongoDB Atlas connection string
MONGO_URI=

# JWT
JWT_SECRET=changeme
JWT_EXPIRES_IN=7d
JWT_LIMITED_EXPIRES_IN=7d
INVITE_EXPIRE_DAYS=7

# RESEND MAILER
RESEND_API_KEY=
