# PORT
PORT=5500
BASE_URL=http://localhost:5500
FRONT_URL=http://localhost:5173

# ENVIRONMENT
NODE_ENV='development'

# DATABASE
MONGO_URI=

# JWT AUTH
JWT_SECRET=
JWT_EXPIRES_IN="7d"
JWT_LIMITED_EXPIRES_IN="7d"
INVITE_EXPIRE_DAYS=7 # days

# NODEMAILER
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=